:root {
  --dark-purple: #0b0d17;
  --lila: #d0d6f9;
  --white: #ffffff;
  --gray: rgba(151, 151, 151, 70%);
}

html {
  padding-left: 0px;
  padding-right: 00px;

  margin: 0;
}

body {
  /* width: 100%; */
  height: 100vh;
  padding-top: 30px;
  padding-left: 60px;
  /* margin: 0; */
  overflow: hidden;

  font-family: "Bellefair", serif;
  font-weight: 400;
  background-color: var(--dark-purple);
  /* background-image: url("../public/assets/home/background-home-desktop.jpg"); */
}

.main {
  /* height: 100vh; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.explore-circle {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.big-explore-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.big-explore-circle:hover {
  background-color: rgba(36, 38, 47, 90%);
  /* background-color: #24262f; */
}

.explore-circle a {
  color: black;
  font-family: "Bellefair", serif;
  font-size: 22px;
  text-decoration: none;
}

/* Titles */
h1 {
  font-size: 140px;
  color: var(--white);
  font-family: "Bellefair", serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 100px;
  color: var(--white);
  font-weight: 400;
}
h3 {
  font-size: 56px;
  color: var(--white);
}
h4 {
  font-size: 32px;
  color: var(--white);
}
h5 {
  font-size: 28px;
  color: var(--lila);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 30px;
}
p {
  font-size: 18px;
  color: var(--lila);
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  padding: 0;
  padding-left: 10px;
  line-height: 1.5;
}
button {
  cursor: pointer;
}

/* Navigation */

nav {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0;
  margin: 0;
  height: 70px;
}
.navigation {
  background-color: rgba(151, 151, 151, 30%);
  width: 100%;
  /* -webkit-filter: blur(2px);
  filter: blur(2px); */
}
.blurNav {
  background-color: blue;
}
ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}
li {
  display: flex;
  align-items: center;
}

li:hover {
  border-bottom: 3px solid rgba(151, 151, 151, 80%);
}

li a {
  text-decoration: none;
  width: 90px;
  text-align: center;
  color: var(--white);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
}

.logoMain {
  display: grid;
  grid-template-columns: 10% 60%;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.lineBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 50px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(151, 151, 151, 80%);
  z-index: 2;
}

/* left panel */
.leftPanel {
  padding-top: 50px;
  padding-left: 50px;
}

.titleLeftPanel {
  display: flex;
  /* font-family: "Bellefair", serif; */
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 5px;
  font-size: 28px;
}
.numberLeftPanel {
  color: rgba(151, 151, 151, 80%);
  font-weight: 600;
  padding-left: 60px;
}

.textLeftPanel {
  color: white;
  padding-left: 8px;
}

.planetImage {
  padding-top: 50px;
  padding-left: 60px;
}
.buttonDestination {
  background-color: transparent;
  color: var(--lila);
  border: 0;
  /* border-bottom: 2px solid white; */
  width: 70px;
  /* padding-left: 20px; */
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
}

/* right panel */
.rightPanel {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-right: 120px;
  padding-left: 50px;
}

/* HOME */

.leftPanel.home {
  padding-top: 160px;
  padding-right: 170px;
}
.rightPanel.home {
  display: flex;
  align-items: center;
  padding: 0;
}

/* DESTINATION */
.textRightPanel h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  padding-left: 15px;
}
.distanteTravelPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.buttonsGroupDestination {
  width: 500px;
}
.buttonDestination:hover {
  color: white;
  border-bottom: 3px solid rgba(151, 151, 151, 50%);
}
.lineRightPanel {
  height: 1px;
  width: 500px;
  color: white;
  background-color: rgba(151, 151, 151, 50%);
  margin-bottom: 15px;
  margin-left: 10px;
}

.distanteTravelPanel {
  margin-left: 10px;
}

.distanteTravelInfo {
  padding-top: 10px;
}

.distanteTravelInfo span {
  color: var(--lila);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2.35;
}

.distanteTravelInfo p {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Bellefair", serif;
  font-size: 28px;
  padding-top: 5px;
}
/* CREW */

.textLeftPanel {
  width: 600px;
}

.textLeftPanel h4 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  font-weight: 400;
  color: var(--gray);
  padding: 0;
  padding-top: 60px;
  margin-bottom: 20px;
}
.textLeftPanel h3 {
  font-family: "Bellefair", serif;
  font-size: 52px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 10px;
}
.buttonsGroupCrew {
  padding-top: 100px;
  width: 160px;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
.buttonCrew {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: rgba(151, 151, 151, 50%);
  border: 0pc;
}

.buttonCrew:hover {
  background-color: rgba(151, 151, 151, 100%);
}
/* TECHNOLOGY */
.infoTechnology {
  display: grid;
  grid-template-columns: 130px 3fr;
  padding-top: 120px;
  padding-left: 50px;
}
.infoTechnology p {
  padding: 0;
  margin: 0;
}
.buttonsGroupTech {
  display: grid;
  gap: 26px;
  /* grid-template-rows: 3fr; */
}
.buttonTech {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--gray);
  color: white;
  font-family: "Bellefair", serif;
  font-size: 32px;
}
.buttonTech:hover {
  border: 1px solid white;
}

.terminologyTextTech {
  color: var(--lila);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1.5px;
}
.textTech h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 400px) {
  html {
    margin: 0;
    padding: 0;
  }
  body {
    padding: 18px;
    margin: 0;
  }
  .main {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr;
    padding: 0;
  }
  .leftPanel {
    padding: 0;
  }
  .leftPanel.home {
    padding: 0;
    /* height: 100px; */
  }
  .rightPanel.home {
    padding: 0;
    margin: 0;
  }
  .lineBox {
    display: none;
  }

  .navigation {
    display: none;
  }
  h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 18px;
  }
  h2 {
    font-size: 58px;
    text-align: center;
  }
  h5 {
    font-size: 22px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  p {
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }
  .titleLeftPanel {
    /* text-align: center; */
  }
  .titleLeftPanel span {
    font-size: 20px;
    letter-spacing: 2.5px;
  }

  /* Destination */
  .planetImage {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }
  .planetImage img {
    width: 220px;
    height: 220px;
  }
  .numberLeftPanel {
    padding: 0;
    padding-left: 80px;
  }
  .rightPanel {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    display: block;
  }
  .leftPanel {
    width: 100vw;
  }
  .rightPanel {
    width: 100vw;
  }
  .textRightPanel h2 {
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }
  .distanteTravelPanel {
    display: block;
  }
  .buttonsGroupDestination {
    width: 100vw;
    text-align: center;
  }
  .lineRightPanel {
    margin-top: 18px;
    width: 380px;
  }
  .distanteTravelInfo {
    text-align: center;
  }
}
